
<ion-header>
  <div>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
  </div>
</ion-header>

<ion-content padding>
<div *ngIf="!persona_cargada">
  <img src="assets/imgs/dvdp1.gif" alt="">
</div>
<div *ngIf="persona_cargada">
  <h3>{{persona.nombre}}, esta es mi Página</h3>
  <label for="peso">Peso: </label>  
  <input type="number" id="peso" [(ngModel)]="persona.peso">
  <br>
  <label for="altura">Altura: </label>
  <input type="number" id="estatura" [(ngModel)]="persona.estatura">
  <br>
  <br>
  <button ion-button color="secondary" round (click)="calculaIMC()"><ion-icon name="body"></ion-icon>--Calcula IMC--<hr><ion-icon name="body"></ion-icon></button>
  <h2>{{resultado}}</h2>
  <hr>
  <p>
    Hola {{persona.nombre}}, esta es mi página
  </p>
  
</div>
<div *ngFor="let unapersona of lista_personas">
    {{unapersona.nombre}}, estatura: {{unapersona.estatura}}. Peso: {{unapersona.peso}}
</div>
  <p>
    Mi Página 
  </p>
  <p>
   Mollit qui sit cupidatat proident dolore. Eiusmod nulla laboris Lorem exercitation. 
   Amet ipsum eiusmod cupidatat duis id enim eu veniam eiusmod cupidatat eu aliquip adipisicing Lorem.
  </p>
  <p>
    Incididunt enim officia voluptate elit commodo eiusmod commodo irure ex qui ad est ipsum aliqua. 
    Quis elit voluptate qui commodo velit ad commodo sunt amet dolor culpa culpa aliqua quis. 
    Ipsum est elit est velit reprehenderit qui consequat. Id incididunt fugiat sunt qui nisi sunt. 
    Aliquip pariatur exercitation ullamco aliquip eu Lorem aliqua. Ex sint sit excepteur ea reprehenderit ut laborum exercitation aute. 
    Eu id adipisicing pariatur ex incididunt minim adipisicing.
  </p>
  <p>
    Tempor sunt occaecat nostrud nisi qui nostrud magna Lorem et amet irure. 
    Sint eu mollit pariatur proident sit Lorem velit culpa consequat commodo commodo. 
    Anim nulla aliquip magna consequat laborum proident nostrud tempor do. Officia fugiat laborum fugiat adipisicing.
  </p>

  <p>
    Laborum est ad ea dolore enim labore culpa aliqua magna. 
    Culpa aliquip est mollit quis consequat exercitation reprehenderit dolor ipsum. 
    Eiusmod tempor quis cillum laborum. Aute nisi duis quis reprehenderit nulla in nisi ea proident labore. 
    Anim eiusmod enim minim aliqua elit deserunt culpa elit labore excepteur commodo fugiat ullamco pariatur.
  </p>  
  <p>
    Dolor voluptate qui enim exercitation est labore nostrud consequat tempor ipsum esse aute nulla. 
    Esse pariatur cupidatat anim occaecat. 
    Duis quis cupidatat velit minim ex qui ad Lorem nisi ex aliquip Lorem proident. 
    Cupidatat excepteur magna amet ea labore nulla.
  </p>
  <p>
    Et sint anim eu commodo laborum. Exercitation fugiat cillum ullamco fugiat aliquip culpa minim est occaecat fugiat laboris. 
    Eu quis aliquip elit id reprehenderit cillum pariatur reprehenderit ad irure. 
    Aliqua esse pariatur aliquip ex non non consectetur ut eiusmod laboris qui id dolor ipsum.
  </p>

  <p text-capitalize>
    Sint voluptate excepteur veniam labore. 
    Consequat ad ad sit duis eu esse dolore ad laboris enim reprehenderit ullamco. Excepteur ullamco consequat non enim sint. 
    Non excepteur ullamco dolore magna ad sunt. 
    Deserunt ex mollit aliquip amet excepteur enim adipisicing velit sint pariatur.
  </p>

</ion-content>
